*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-size: clamp(0.9rem, calc(1vw + .5rem), 1.2rem);
}

:root {
    --dudCardWidth: 98px;
    --dudCardHeight: 126px;
}

#page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(0, 99, 0); */
    background-image: repeating-linear-gradient(to right, rgb(0, 99, 0) .2%, rgb(8, 92, 8) .4%, rgb(0, 99, 0) .6%);
}
#page-wrapper::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-image: repeating-linear-gradient(rgb(0, 99, 0) .2%, rgb(8, 92, 8) .4%, rgb(0, 99, 0) .6%);
    opacity: 0.5;
    z-index: -1;
}

#dealer-space {
    position: relative;
    display: flex;
    justify-content: center;
    /* background-color: darkcyan; */
}

#settings-wrapper {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
}

#reset {
    position: relative;
}

#shoe-counter-wrapper {
    position: relative;
    display: flex;
    /* border: 0.1vw solid white; */
    padding: 0.5vw;
    gap: 1vw;
}

/* #shoe-counter {
    color: white;
} */

.hand-wrapper {
    position: relative;
    display: flex;
    /* border: 0.1vw solid black; */
    border-radius: 0.5vw;
    margin: 1vw;
    /* scale: 2; */
}

#dealer-hand {
    position: relative;
}

#player-space {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
}

.player-hand {
    position: relative;
}

img {
    width: 100%;
    height: auto;
}

.card {
    position: relative;
    display: flex;
    width: 8vw;
    height: auto;
}

/* @media screen and (max-width: 981px) {
    .card {
        position: relative;
        display: flex;
        width: 68.6px;
        height: 88.2px;
    }
} */

.dud-card {
    position: relative;
    background-image: repeating-linear-gradient(to right, rgb(0, 99, 0) .2%, rgb(8, 92, 8) .4%, rgb(0, 99, 0) .6%);
    width: 8vw;
    height: 11vw;
}

/* @media screen and (max-width: 981px) {
    .dud-card {
        position: relative;
        background-color: rgb(0, 99, 0);
        width: 68.6px;
        height: 88.2px;
    }
} */

#counters-controls-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#counters {
    position: relative;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.5vw;
    width: 25%;
    justify-content: space-evenly;
    /* gap: 3vw; */
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* width: 95%; */
    /* border: 0.1vw solid white; */
    /* background-color: red; */
}

p.counter-value {
    display: flex;
    border: 0.1vw solid white;
    padding: 0.5vw;
    width: 100%;
    /* vertical-align: middle; */
    justify-content: center;
}

p.counter-caption {
    display: flex;
    text-align: center;
    /* border: 0.1vw solid red; */
}

#controls {
    display: flex;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    gap: 2vw;
    padding-block: 1vw;
    /* padding-inline: 0.5vw; */
}

#chip-button-wrapper {
    position: relative;
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    /* border: 0.1vw solid red; */
    animation-name: toggleChips;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
}
@keyframes toggleChips {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(100vw);
    }
}

button.chip {
    position: relative;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    color: white;
    border-width: 0.35vw;
    border-color: white;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/* .dud-card::after, .dud-card::before {
    --angle: 0deg;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 6vw;
    background-image: conic-gradient(from var(--angle), blue .09turn,red .09turn);
    animation: spin 3s linear infinite;
} */

button.chip::after, button.chip::before {
    --angle: 0deg;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 2.9vw;
    border-radius: 50%;
    /* background-image: conic-gradient(from var(--angle), red, blue, red); */
    animation: spin 4.45s linear infinite;
}
/* button.chip::before {
    filter: blur(1.2rem);
    opacity: 0.8;
} */
@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

/*
+------------------------------------------------------------------------------+
|              each chip has their own animation-play-state so                 |
|              the attribute can be targeted by javascript                     |
+------------------------------------------------------------------------------+
*/
#chip-1 {
    border-color: #3b5b98;
    background-color: white;
    color: #3b5b98;
}
#chip-1::after, #chip-1::before {
    background-image: repeating-conic-gradient(from var(--angle), #3b5b98 .1turn, .1turn, white .2turn, .2turn, #3b5b98 .3turn .3turn);
    animation-play-state: running;
}

#chip-5 {
    background-color: #c12e34;
}
#chip-5::after, #chip-5::before {
    background-image: repeating-conic-gradient(from var(--angle), #c12e34 .1turn, .1turn, white .2turn, .2turn, #c12e34 .3turn .3turn);
    animation-play-state: running;
}

#chip-25 {
    background-color: #319845;
}
#chip-25::after, #chip-25::before {
    background-image: repeating-conic-gradient(from var(--angle), #319845 .1turn, .1turn, white .2turn, .2turn, #319845 .3turn .3turn);
    animation-play-state: running;
}

#chip-100 {
    background-color: #3b5b98;
}
#chip-100::after, #chip-100::before {
    background-image: repeating-conic-gradient(from var(--angle), #3b5b98 .1turn, .1turn, white .2turn, .2turn, #3b5b98 .3turn .3turn);
    animation-play-state: running;
}

#chip-500 {
    background-color: #303030;
}
#chip-500::after, #chip-500::before {
    background-image: repeating-conic-gradient(from var(--angle), #303030 .1turn, .1turn, white .2turn, .2turn, #303030 .3turn .3turn);
    animation-play-state: running;
}

button.action {
    position: relative;
    overflow-wrap: break-word;
    padding: 0.5vw;
    flex: 0.5;
    border: 0.4vw outset black;
    /* background-image: conic-gradient(from 45deg, rgb(255, 165, 0), rgb(255, 115, 0), rgb(255, 90, 0), rgb(255, 115, 0), rgb(255, 165, 0)); */
    background-image: radial-gradient(yellow, orange, red);
    color: black;
}

#player-actions {
    position: relative;
    display: flex;
    /* flex-shrink: 2; */
    /* flex: 1; */
    justify-content: space-between;
    gap: 1vw;
    /* border: 0.1vw solid red; */
    /* animation-name: toggleActionBtns;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-play-state: paused; */
}
@keyframes toggleActionBtns {
    0% {
        transform: translateY(100vw);
    }
    100% {
        transform: translateY(0px);
    }
}

.stacked-button-wrapper {
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    justify-content: space-between;
    gap: 1vw;
    /* max-width: fit-content; */
    /* border: 0.1vw solid red; */
}

#all-in {
    position: relative;
    display: flex;
    animation-name: toggleAllIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
}
@keyframes toggleAllIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

#play-again-popup {
    position: absolute;
    display: none;
    flex-direction: column;
    border: 0.1vw solid black;
    background-image: radial-gradient(circle at center, black, rgb(63, 63, 63));
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

#play-again-buttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    padding: 1vw;
}

.popup-header {
    background-color: rgb(255, 77, 77);
    width: 100%;
    text-align: center;
    padding-block: 0.3vw;
}

.popup-button {
    padding: 0.3vw;
}
