*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-size: clamp(0.9rem, calc(1vw + .5rem), 1.2rem);
}

:root {
    --glacier-blue: #4498ae;
    --azure-sky: #447fa7;
    --calm-water: #7aaabc;
    --lavender-mist: #a6a8dc;
    --creamy: #fffff5;
    --urban-steel: #35383e;
    --dudCardWidth: 98px;
    --dudCardHeight: 126px;
    --popupbg: #271bcf;
    --lighter: oklch(from var(--popupbg) clamp(0, l + 0.22, 1) calc(c * 0.9) h);
    --darker: oklch(from var(--popupbg) clamp(0, 1 - 0.22, 1) calc(c * 0.92) h);
    --compliment: hsl(from var(--popupbg) calc(h - 180) s l);
}

body {
    position: relative;
    display: flex;
    width: 100dvw;
    height: 100dvh;
    flex-direction: column;
    /* background-color: var(--urban-steel); */
    background-image: repeating-linear-gradient(to right, rgb(0, 99, 0) .2%, rgb(8, 92, 8) .4%, rgb(0, 99, 0) .6%);
    background-size: contain;
}
body::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-image: repeating-linear-gradient(rgb(0, 99, 0) .2%, rgb(8, 92, 8) .4%, rgb(0, 99, 0) .6%);
    opacity: 0.5;
    z-index: -1;
}

#dealer-space {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    /* background-color: darkcyan; */
}

#settings-wrapper {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
}

#shoe-counter-wrapper {
    position: relative;
    display: flex;
    /* border: 0.1vw solid white; */
    padding: 0.5vw;
    gap: 1vw;
}

/* #shoe-counter {
    color: white;
} */

.player-hands {
    position: relative;
    display: flex;
    /* background-color: red; */
    gap: 4vw;
}

.hand-wrapper {
    position: relative;
    display: flex;
    /* border: 0.1vw solid black; */
    border-radius: 0.5vw;
    /* background-color: red; */
    padding: 1vw;
    /* margin: 1vw; */
    /* scale: 2; */
}

#player-hand {
    
}

#split-hand {
    display: none;
}

#split-pot-wrapper {
    display: none;
}

#dealer-hand {
    position: relative;
    align-self: center;
}

#player-space {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    gap: 1vw;
    /* background-color: blue; */
}

img {
    width: 100%;
    height: auto;
}

.card {
    position: relative;
    display: flex;
    width: 8vw;
    height: auto;
}

@media screen and (min-device-width: 64px) {
    .card {
        width: 15vw;
        height: auto;
    }
}

@media screen and (min-device-width: 641px) {
    .card {
        width: 8vw;
        height: auto;
    }
}

.dud-card {
    position: relative;
    /* background-image: repeating-linear-gradient(to right, rgb(0, 99, 0) .2%, rgb(8, 92, 8) .4%, rgb(0, 99, 0) .6%); */
    width: 8vw;
    height: 11vw;
    content: "";
}

.flipped-card {
    position: relative;
    width: 8vw;
    height: 11vw;
    background-image: repeating-linear-gradient(red 2%, white 4%, red 6%);
}
.flipped-card::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(90deg, red 2%, white 4%, red 6%);
    border: 0.1vw solid white;
    /* opacity: 0.5; */
}
.flipped-card::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
    background-image: repeating-linear-gradient(90deg, red 2%, white 4%, red 6%);
    border: 0.25vw solid white;
    /* opacity: 0.5; */
}

#counters-controls-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#counters-wrapper {
    position: relative;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1vw;
    justify-content: space-between;
    gap: 1vw;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    color: white;
    /* gap: 0.1vw; */
    /* width: 95%; */
    /* border: 0.1vw solid white; */
    /* background-color: red; */
    text-align: center;
}

span.counter-value {
    display: flex;
    /* border: 0.1vw solid white; */
    /* padding: 0.5vw; */
    /* width: 100%; */
    /* vertical-align: middle; */
    justify-content: center;
}

hr {
    color: white;
}

span.counter-caption {
    /* border: 0.1vw solid red; */
}

#controls {
    display: flex;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    gap: 3.5vw;
    padding-block: 1vw;
    /* padding-inline: 1vw; */
}

#chips-wrapper {
    position: relative;
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    /* border: 0.1vw solid red; */
    animation-name: toggleChips;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
}
@keyframes toggleChips {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(100vw);
    }
}

button.chip {
    position: relative;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    color: white;
    border-width: 0.35vw;
    border-color: white;
    transition: transform 0.5s;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

button.chip::after, button.chip::before {
    --angle: 0deg;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 2.9vw;
    border-radius: 50%;
    /* background-image: conic-gradient(from var(--angle), red, blue, red); */
    animation: spin 4.45s linear infinite;
}
/* button.chip::before {
    filter: blur(1.2rem);
    opacity: 0.8;
} */
@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

/*
+------------------------------------------------------------------------------+
|              each chip has their own animation-play-state so                 |
|              the attribute can be targeted by javascript                     |
+------------------------------------------------------------------------------+
*/
#chip-1 {
    border-color: #3b5b98;
    background-color: white;
    color: #3b5b98;
}
#chip-1::after, #chip-1::before {
    background-image: repeating-conic-gradient(from var(--angle), #3b5b98 .1turn, .1turn, white .2turn, .2turn, #3b5b98 .3turn .3turn);
    animation-play-state: running;
}

#chip-5 {
    background-color: #c12e34;
}
#chip-5::after, #chip-5::before {
    background-image: repeating-conic-gradient(from var(--angle), #c12e34 .1turn, .1turn, white .2turn, .2turn, #c12e34 .3turn .3turn);
    animation-play-state: running;
}

#chip-25 {
    background-color: #319845;
}
#chip-25::after, #chip-25::before {
    background-image: repeating-conic-gradient(from var(--angle), #319845 .1turn, .1turn, white .2turn, .2turn, #319845 .3turn .3turn);
    animation-play-state: running;
}

#chip-100 {
    background-color: #3b5b98;
}
#chip-100::after, #chip-100::before {
    background-image: repeating-conic-gradient(from var(--angle), #3b5b98 .1turn, .1turn, white .2turn, .2turn, #3b5b98 .3turn .3turn);
    animation-play-state: running;
}

#chip-500 {
    background-color: #303030;
}
#chip-500::after, #chip-500::before {
    background-image: repeating-conic-gradient(from var(--angle), #303030 .1turn, .1turn, white .2turn, .2turn, #303030 .3turn .3turn);
    animation-play-state: running;
}

button.action {
    position: relative;
    overflow-wrap: break-word;
    padding: 0.5vw;
    flex: 0.5;
    border: 0.4vw outset black;
    /* background-image: conic-gradient(from 45deg, rgb(255, 165, 0), rgb(255, 115, 0), rgb(255, 90, 0), rgb(255, 115, 0), rgb(255, 165, 0)); */
    background-image: radial-gradient(yellow, orange, red);
    color: black;
}

#reset {
    position: relative;
    width: 10vw;
    height: 10vw;
}

#player-actions {
    position: relative;
    display: flex;
    /* flex-shrink: 2; */
    /* flex: 1; */
    justify-content: space-between;
    gap: 1vw;
    /* border: 0.1vw solid red; */
    /* animation-name: toggleActionBtns;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-play-state: paused; */
}
@keyframes toggleActionBtns {
    0% {
        transform: translateY(100vw);
    }
    100% {
        transform: translateY(0px);
    }
}

#stacked-button-wrapper {
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    justify-content: space-between;
    gap: 1vw;
    /* max-width: fit-content; */
    /* border: 0.1vw solid red; */
}

#all-in {
    position: relative;
    display: flex;
    animation-name: toggleAllIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
}
@keyframes toggleAllIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

#play-again-popup {
    position: absolute;
    display: none;
    flex-direction: column;
    border: 0.1vw solid black;
    background-image: radial-gradient(circle at center, black, rgb(63, 63, 63));
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

#play-again-buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    margin: 1vw;
}

.popup-header {
    background-color: rgb(255, 77, 77);
    width: 100%;
    text-align: center;
    padding-block: 0.3vw;
}

.popup-button {
    padding: 0.3vw;
}

#log-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    width: 20%;
    height: 30%;
    max-height: 30%;
    display: flex;
    flex-direction: column;
    border: 0.3vw solid black;
    background-color: rgba(37, 37, 37, 0.8);
    color: white;
    z-index: 1;
}

#log-header {
    position: relative;
    text-align: center;
    background-color: rgb(128, 128, 128, 0.8);
}

#log {
    position: relative;
    padding: 0.3vw;
    overflow: scroll;
    scrollbar-gutter: stable;
    display: flex;
    flex-direction: column-reverse;
    gap: 1vw;
}

.message {
    display: flex;
    gap: 1vw;
    overflow-wrap: normal;
    text-overflow: ellipsis;
    /* background-color: rgb(0, 0, 0, 0.8); */
    content-visibility: auto;
    width: 100%;
}

.message-time {
    font-size: 0.725em;
}

.message-content {
    font-size: 0.85em;
    overflow-wrap: normal;
}

[inert] {
    opacity: 0.3;
}

#win-popup {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 25%);
    display: none;
    background-color: var(--urban-steel);
    z-index: 2;
    grid-template-rows: repeat(7, 5vw);
    grid-template-columns: repeat(9, 5vw);
    border-radius: 3vw;
    content-visibility: auto;
}

.light {
    position: relative;
    background-color: white;
    border-radius: 50%;
    margin: 25%;
    filter: blur(2px);
}

.light::before, .light::after {
    --angle: 0deg;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    /* padding: 0.8vw; */
    z-index: -1;
    background-image: conic-gradient(from var(--angle), white, yellow, orange, white);
    animation: 5s shine infinite linear;
    /* play state is on its own line so JS can target the attribute */
    animation-play-state: paused;
}
.light::before {
    filter: blur(0.8rem);
    /* opacity: 0.5; */
}
@keyframes shine {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

#top-light-1 {
    grid-area: 1 / 2 / 2 / 3;
}

#top-light-2 {
    grid-area: 1 / 4 / 2 / 5;
}

#top-light-3 {
    grid-area: 1 / 6 / 2 / 7;
}

#top-light-4 {
    grid-area: 1 / 8 / 2 / 9;
}

#bottom-light-1 {
    grid-area: 7 / 2 / 8 / 3;
}

#bottom-light-2 {
    grid-area: 7 / 4 / 8 / 5;
}

#bottom-light-3 {
    grid-area: 7 / 6 / 8 / 7;
}

#bottom-light-4 {
    grid-area: 7 / 8 / 8 / 9;
}

#left-light-1 {
    grid-area: 2 / 1 / 3 / 2;
}

#left-light-2 {
    grid-area: 4 / 1 / 5 / 2;
}

#left-light-3 {
    grid-area: 6 / 1 / 7 / 2;
}

#right-light-1 {
    grid-area: 2 / 9 / 3 / 10;
}

#right-light-2 {
    grid-area: 4 / 9 / 5 / 10;
}

#right-light-3 {
    grid-area: 6 / 9 / 7 / 10;
}

#win-message {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-area: 2 / 2 / 7 / 9;
    background-color: var(--calm-water);
    justify-content: center;
    text-align: center;
    border-radius: 3vw;
    z-index: 4;
}

#winner {
    font-size: clamp(0.2rem, calc(1vw + 2rem), 5rem);
    overflow-wrap: normal;
}
